extends layout.pug

block content
    .header
        h1= repo.name
        nav.repo-nav
            a(href=`/${repo.name}/readme`) Readme 
            a(href=`/${repo.name}/tree`) Worktree 
            a(href=`/${repo.name}/commits`) Commits 
    .content
        block content-r
