doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style/master.css")
        title gitkek
    body
        nav.global-nav
            a(href="/") repository listing 
        block content
            p forgot to insert content
        .footer
            p write some stuff here later

