extends layout-repo.pug

block content-r
    h2 log
    p.info page #{page}
    if prev_page
        a(href=prev_page) Previous page
    if next_page
        a(href=next_page) Next page
    each commit of log
        .commit
            p.hash= commit.hash
            p.message= commit.message
            p.date= commit.date
            p.author= commit.author
            
