extends layout-repo.pug

block content-r
    h2 tree
    p /#{path} at #{commit}
    ul 
        if path != ""
            li 
                a(href="..") ..
        - for (const f in files)
            li
                a(href=f)= f 

